body, #entradaTexto{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
}

header img{
    height: 80%;
}

#entradaTexto, .texto{
    overflow-wrap: break-word;
}

#entradaTexto{
    width: 98%;
    border: none;
    resize: none;
}

#entradaTexto:focus{
    outline: none;
}

#entradaTexto, input, .texto{
    font-size: 3.5vh;
}

.main-entradaTexto__areaTexto p{
    color: darkgrey;
}

input{
    border: 1px solid #0A3871;
    border-radius: 15px;
    padding: 1vh 0;
    margin: 1vh 0 0;
    width: 45%; 
}

#encriptar:disabled, #desencriptar:disabled{
    background-color: lightgray;
    color: black;
}

#encriptar{
    color: aliceblue;
    background-color: #0A3871;
}

#desencriptar{
    color: #0A3871;
    background-color: aliceblue;
}

#copiar{
    color: #0A3871;
    background-color: white;
    width: 95%;
}

.main-entradaTexto__botones, .boton, .main-salidaTexto__antes{
    text-align: center;
}

.main-salidaTexto{
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 15px lightgray;
}

.main-salidaTexto__antes{  /*GOTO: main-salidaTexto__Despues hacer flex */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2{
    font-weight: bold;
    font-size: 3vh;
    margin-bottom: 1vh;
}

.main-salidaTexto__despues{
    display: flex;
    flex-direction: column;
}

#despues{
    display: none;
}

.texto{
    margin: 1.5vh 1.5vh 0;
}

footer{
    height: 10vh;
    background-color: #0A3871;
    text-align: center;
    color: aliceblue;
    font-size: 3.5vh;
}

li{
    display: inline-block;
}

li a{
    color: aliceblue;
}

li a:hover{
    color: lightslategray;
}

@media (max-width: 320px){
    
    .main-entradaTexto__areaTexto p{
        font-size: 2vh;
    }
    
    footer p, footer li{
        font-size: 3vh;
    }
}

@media (max-width: 430px) {
    
    input{
        width: 95%;
    }

}

@media (max-width: 912px){
    
    header{
        margin: 4vh 0 2vh;
    }

    header img{
        height: 5vh;
    }

    main{
        margin: 0 1vh;
        min-height: 78vh;
        height: auto;
    }
    
    #ntradaTexto{
        height: 54vh;
    }

    .main-salidaTexto{
        margin: 1vh 0;
        height: 20%;
    }

    .main-salidaTexto__antes img{
        display: none;
    }

    footer p{
        padding: 1vh;
    }
}

@media (min-width: 430px) and (max-width: 612px){

    #entradaTexto{
        height: 43vh;
    }
}

@media (min-width:913px) {
    
    header, main{
        height: 80vh;
    }

    header, main, .main-entradaTexto, .main-salidaTexto{
        display: inline-block;
    }

    header{
        width: 10vw;
        vertical-align: top;
        margin-top: 4vh;       
    }

    header img{
        max-width: 100%;
        height: auto;
    }

    main{
        width: 86vw;
        margin: 4vh 0;
    }
    .main-entradaTexto, .main-salidaTexto{
        height: 100%;
    }

    .main-entradaTexto{
        width: 70%;
    }

    .main-entradaTexto__areaTexto{
        margin-top: 15vh;
    }

    #entradaTexto{
        height: 52vh;
    }

    .main-entradaTexto__botones{
        text-align: left;
    
    }

    .main-entradaTexto__botones input{
        margin-right: 1vw;
    }

    .main-salidaTexto{
        width: 30%;
        height: 100%;
        float: right;
    }

    .texto{
        height: 69vh;
        margin: 1.5vh 1.5vh 0;
        overflow-y: auto;
    }

    footer p{
        padding: 1vh;
    }
}
